<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.princekr1447.suavyhomeautomation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/suavy_technologies_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/suavy_technologies_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManageSmartdomActivity"></activity>
        <activity android:name=".SettingsModule.AuthsettingsActivity" />
        <activity android:name=".SettingsModule.SettingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PasswordResetActivity" />
        <activity android:name=".SignUpModule.SignupDetailsActivity" />
        <activity android:name=".SignUpModule.EnterOtpActivity" />
        <activity android:name=".SignUpModule.PhoneActivity" />
        <activity android:name=".SignupOrSigninActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".QrScannerActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".SignupActivity" />
    </application>

</manifest>